<html>
<header>
  <title>dummy placeholder html page</title>
</header>
<body>
  <h1>This is dummy page, nice to meet you. :poop-emoji-here: </h1>
  <p>This is a variable sent to me by the gods: <span><%= answer %></span></p>
</body>
</html>
